<form [formGroup]="formControl" (ngSubmit)="onSubmit()">
  <div class="nu-type-edit">
    <div class="input-group nu-type-edit__inputs">
      <input class="form-control form-control nu-type-edit__input" formControlName="type_a" type="number">
      <input class="form-control nu-type-edit__input" formControlName="type_b" type="number">
    </div>

    <div *ngIf="showSubmit && formControl.valid" class="nu-type-edit__button">
      <button [disabled]="!formControl.valid" type="submit" class="btn btn-primary btn-round btn-sm">
        <i *ngIf="!isLoading" class="fas fa-check"></i>
        <i *ngIf="isLoading" class="fas fa-spinner"></i>
      </button>
    </div>    
  </div>
</form>