<div class="card mb-4">
  <div class="card-body px-md-5 py-md-5">
    <h2 class="card-title mb-4">Members</h2>

    <form [formGroup]="formControl" (ngSubmit)="onAddMember()">
      <div class="row">
        <div class="col-12 col-sm-9 mb-3">
          <input class="form-control" formControlName="email" name="email" placeholder="e-mail">
        </div>
        <div class="col-12 col-sm-3 mb-4">
          <button [disabled]="!formControl.valid" type="submit" class="btn btn-primary btn-block">
            <ng-container *ngIf="isLoading"><i class="fas fa-spinner anim"></i></ng-container>
            <ng-container *ngIf="!isLoading">Invite</ng-container>
          </button>
        </div>
      </div>
      <div class="alert alert-light ng-star-inserted py-3 mb-3" *ngIf="memberAddFormMsg">{{ memberAddFormMsg }}</div>      
    </form>

    <table class="table table-borderless table-hover table-responsive-md">
      <tr *ngFor="let member of team.members">
        <td class="rounded-left align-middle" style="width: 90px;">
          <div class="scorable__member-photo"><img src="{{ member.user.photo }}" alt="photo"></div>
        </td>
        <td class="align-middle">{{ member.user.username }}<br><small class="text-muted">{{ member.user.email }}</small></td>
        <td class="align-middle text-center" style="width: 60px;">
          <i *ngIf="member.is_member && !member.is_admin" class="fas fa-user text-primary"></i>
          <i *ngIf="!member.is_member && !member.is_admin" class="fas fa-user-slash text-gray-300"></i>
          <i *ngIf="member.is_admin" class="fas fa-user-secret text-primary"></i>
        </td>
    
        <td class="align-middle text-right" style="width: 190px;">
          <div *ngIf="member.is_admin">
            <!--<span>is admin</span>-->
            <button *ngIf="allowAdminDelete" (click)="onUpdateMember(member._id_member, member.id_team, 0, member.id_user)" class="btn btn-link text-primary" type="button">
              remove admin
            </button>
          </div>
          <div *ngIf="!member.is_admin">
            <!--<span>is not admin</span>-->
            <button *ngIf="member.is_member && !member.is_admin" (click)="onUpdateMember(member._id_member, member.id_team, 1, member.id_user)" class="btn btn-link text-primary" type="button">
                make admin
            </button>
          </div>
        </td>
    
        <td class="rounded-right align-middle text-right" style="width: 150px;">
            <button *ngIf="!member.is_admin" (click)="onDeleteMember(member.id_user, member.id_team)" class="btn btn-link text-danger" type="button">
              <i class="fas fa-times"></i>remove
            </button>
        </td>
      </tr>
    </table>

  </div>
</div>