<div class="nu-container" *ngIf="isLoadedUser">
  
  <!-- Navbar -->
  <div class="container-fluid">
    <div class="nu-navbar row align-items-center nu-inverse">

      <!-- Logo -->
      <div class="col col-md-auto">
        <a routerLink="/app" class="logo">
          <img src="assets/logo.svg" alt="beton">
        </a>
      </div>

      <!-- Breadcrumps -->
      <nav class="col d-none d-md-block ml-3">
        <ol class="breadcrumb">
          <li *ngFor="let crumb of breadcrumbs" class="breadcrumb-item" >
            <a *ngIf="crumb.link" [routerLink]="[crumb.link]">Teams</a>
            <span *ngIf="!crumb.link">{{ crumb.title }}</span>
          </li>
        </ol>
      </nav>

      <!-- User menu -->
      <div class="col-auto">
        <div class="row align-items-center">
          <div *ngIf="currentTime" class="col-auto d-none d-lg-block">   
            <small class="text-muted">{{ currentTime }}</small>
          </div>
          <div class="col-auto">   
            <app-notifications></app-notifications>
          </div>
          <div class="col">
            <app-user-menu></app-user-menu>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div *ngIf="isLoadedMembership">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div class="nu-footer">&copy; 2018 Beton</div>
  
  <!-- Alerts -->
  <app-alert></app-alert>

</div>

<div class="nu-layout">
  <div class="nu-layout__navbar"></div>
  <div class="nu-layout__header"></div>
</div>