<div *ngIf="!isLoading">
    <h1>Teams</h1>
    <button routerLink="/app/teams/add" class="btn btn-success" type="button">Add new team</button>
    
    <div class="container">
      <div class="row">
        <div *ngFor="let team of teams" class="col-3 mb-3">
          <div class="card">
            <div [routerLink]="['./team', team.team.url]" class="card-body">
                {{ team.team.name }}
                <p><small>ID: {{ team._id_member }}</small></p>
                <p><small>join: {{ team.join_at }}</small></p>
                <p>
                  <small>{{ team.is_member ? 'jest memberem' : 'nie jest memberem' }}</small>
                  <small *ngIf="team.is_admin"> __ *admin</small>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <router-outlet></router-outlet>
</div>