<div class="card">
  <div class="scorble" *ngIf="currentMember">
    <div class="scorble__left">
  
      <!-- Add game button -->
      <div class="scorble__row scorble__row--head">
        <div class="scorble__info">
          <a routerLink="./game" class="btn btn-round btn-primary btn-lg">Add game</a>
        </div>
      </div>
      
      <!-- Game info -->
      <app-game-info 
        class="scorble__row"
        *ngFor="let game of team.games" 
        [gameData]="game" 
        [currentMember]="currentMember">
      </app-game-info>
      
    </div>
    <div class="scorble__right">
  
      <!-- Members list -->
      <div class="scorble__row scorble__row--head">
        <div class="scorble__score" *ngFor="let member of team.members">
          <div class="scorable__member-photo"><img src="{{ member.user.photo }}" alt="photo"></div>
          <div class="scorable__member-name is-fixed-wrapper">
            <div class="scorable__member-name is-fixed"><div>{{ member.user.username }}</div></div>
            {{ member.user.username }}
          </div>          
        </div>
      </div>
      
      <!-- Game types -->      
      <app-game-type 
        class="scorble__row" 
        *ngFor="let game of team.games" 
        [teamID]="team._id_team"
        [gameData]="game" 
        [members]="team.members" 
        [types]="team.types"
        [currentMember]="currentMember">
      </app-game-type>
  
    </div>
  </div>
  <div *ngIf="showMoreButton" (click)="onLoadMoreGames()" class="games-footer">
    <div class="games-footer__btn">
      <button class="btn btn-block btn-lg btn-primary" type="button">        
        <ng-container *ngIf="showMoreButtonLoading"><i class="fas fa-spinner anim"></i></ng-container>
        <ng-container *ngIf="!showMoreButtonLoading">load more</ng-container>
      </button>
    </div>
  </div>
</div>

<a class="fixed-add" routerLink="./game">
  <i class="fas fa-plus"></i>
</a>

<router-outlet></router-outlet>